{% extends 'base.html' %}
{% block title %}{ post.title_tag }This is a blog post{% endblock %}


{% block content %}

<h1>{{ post.title }}</h1>
<small>By:
    {{ post.author.first_name }}
    {{ post.author.last_name }} -
    {{ post.post_date }}
{% if user.is_authenticated %}
    - <a href="{% url 'update_post' post.pk %}">(Edit Post)</a>

    <a href="{% url 'delete_post' post.pk %}">(Delete Post)</a>
{% endif %}
</small><br/>
<hr>
<br/>
{{ post.text|safe }}


<br/><br/>
<a href="{% url 'home' %}" class="alert alert-secondary" role="alert">Back</a>

<br/><br/>
<hr>
<br><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if liked  %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">DisLike</button>
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
    {% endif %}
        - {{ total_likes }} Likes
</form>
<br/><br/>
<hr>
<h2>Comments</h2>

{% if not post.comments.all %}
    No comment yet
<br/><br><a href="{% url 'add_comment' post.pk %}">Add comment</a>
{% else %}
<a href="{% url 'add_comment' post.pk %}">Add comment</a>
<br/><br/>
    {% for comment in post.comments.all %}
        <strong>
            {{ comment.name }}
            {{ comment.created }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/><br>

    {% endfor %}
{% endif %}
<br/>
{% endblock %}